{% load static %}
{% load custom-mongodb-tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Welcome to BPB Online Bookshop</title>
    <link rel="stylesheet" href="{% static 'BPBOnlineBookShopMongoDBApp/style.css' %}">
</head>

<body>
    <div class="main-container">
        <div class="header-container">
            <div class="logo"><img src="{% static 'BPBOnlineBookShopMongoDBApp/bpb-logo.png' %}"
                    alt="BPB Publications Logo" /></div>
            <h1>BPB Online Bookshop</h1>
            <hr />
        </div>
        <div class="body-container">
            <div class="items">
                {% for BPBBook in BPBBooks %}
                <div class="item">
                    <div class="book-image-container"><img class="book-image"
                            src="http://localhost/bpb-catalog-app-backend/images/{{BPBBook.coverimage}}" /></div>
                    <div class="book-title">{{BPBBook.title}}</div>
                    <div class="more-details-button"><a href="/book-details/{{ BPBBook|bpbfrontendapp:'_id' }}">More Details</a></div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</body>

</html>